<div class="container">
    <div *ngIf="isLoading" class="row">
        <div class="spinner-border text-primary mx-auto" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let product of products">
            <div class="card-body border border-secondary card-wrapper">
                <h5 class="card-title product-title">{{ product.name }}</h5>
                <p class="card-text product-description">{{ product.description }}</p>
                <p class="card-text">Price: {{ product.price }}</p>
                <p class="card-text">Stock: {{ product.stock }}</p>
                <a *ngIf="product.stock > 0; else notInStock" href="#" class="btn btn-primary" (click)="addBook(product.id)">Add to card</a>
                <ng-template #notInStock> <a href="#" class="btn btn-secondary" >Not in stock</a></ng-template>
            </div>
        </div>
    </div>
</div>