<div class="container">
    <div *ngIf="isLoading" class="row">
        <div class="spinner-border text-primary mx-auto" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p *ngIf="selectedProducts.length > 0">Total: {{ total }}</p>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <button *ngIf="selectedProducts.length > 0" 
                    class="btn btn-outline-primary mb-2 mr-2" (click)="checkOut()">Check out</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let product of selectedProducts">
            <div class="card-body border border-secondary card-wrapper">
                <h5 class="card-title product-title">{{ product.name }}</h5>
                <p class="card-text product-description">{{ product.description }}</p>
                <p class="card-text">Price: {{ product.price }}</p>
                <p class="card-text">Stock: {{ product.stock }}</p>
                <button [disabled]="!(product.selectedCount > 1)" class="btn btn-outline-dark btn-sm"
                  (click)="removeItem(product.id, product.selectedCount, product.stock)">Remove item</button>
                <button [disabled]="!(product.selectedCount < product.stock)" class="btn btn-outline-dark btn-sm" 
                (click)="addItem(product.id, product.selectedCount, product.stock)">Add item</button>
                <p class="card-text">Selected count: {{ product.selectedCount }}</p>
                <button class="btn btn-primary" (click)="removeFromCard(product.id)">Remove from card</button>
            </div>
        </div>
    </div>
    <div *ngIf="selectedProducts.length <= 0 && !productsWereChecked" class="row">
      <p>Empty shopping card</p>
    </div>
    <div *ngIf="productsWereChecked" class="row">
      <p>Product/s were checked</p>
    </div>
</div>